/*Reset*/
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
/*main Layout*/
.cal {
	position: absolute;
	top: 80px;
	left: 200px;
	width: 600px;
	height: 880px;
	background: #eee;
	box-shadow: 0px 0px 10px #333;
	overflow: hidden;
}
.cal > h1 {
	display: block;
	height: 30px;
	line-height: 30px;
	width: 96px;
	font-size: 20px;
	margin-left: 5px;
}
.cal .menu {
	position: absolute;
	top: 30px;
	background: #eee;
	display: block;
	width: 580px;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
}

.cal .screen {
	position: absolute;
	top: 80px;
	background: #eee;
	display: block;
	width: inherit;
	height: 150px;
	text-align: right;
}

.cal .keyboard {
	position: absolute;
	top: 230px;
	background: #bbb;
	display: block;
	width: inherit;
	height: 650px;
}
.screen .sub-screen {
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding-right: 20px;
}
.screen .main-screen {
	font-size: 64px;
	height: 100px;
	line-height: 100px;
	padding-right: 20px;
}
/*button*/
.keyboard {
	font-size: 0;
}
button {
	width: 150px;
	height: 100px;
	border: none;
	font-size: 20px;
}
button.small {
	width: 120px;
	height: 50px;
	border-bottom: 1px dotted #999;
}

.main-key button {
	background: #ddd;
	font-size: 25px;
}
button.num {
	font-weight: 500;
}
button:hover {
	background: #ccc;
}
button:active {
	background: #bbb;
}
.disabled {
	color: #aaa;
}

.draggable {
	cursor: move;
}
.draggable * {
	cursor: default;
}

/*MENU*/
.menu h2 {
	position: absolute;
	left: 50px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	font-size: 20px;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.menu input {
	position: absolute;
	margin-left: -20px;
	opacity: 0;
	z-index: 20;
	width: 50px;
	height: 50px;
}
.menu .side-menu {
	width: 300px;
	height: 850px;
	position: absolute;
	top: 0;
	left: -350px;
	background: rgba(0,0,0,0.5);
	z-index: 10;
	padding-left: 50px;
	color: #fff;
	text-shadow: 0px 0px 7px #ccc;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
}
.menu input:checked ~ .side-menu {
	left: 0;
}
.menu input:checked ~ h2 {
	opacity: 0;
}
.menu .icon {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 15;
	height: 40px;
	width: 40px;
	padding: 10px;
}
.menu .icon:after {
	content: '';
	overflow: hidden;
	position: absolute;
	top: 10px;
	left: 0;
	width: 30px;
	margin: 5px;
	height: 15px;
	background: transparent;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	z-index: 16;
}
.menu .icon:before {
	content: '';
	overflow: hidden;
	position: absolute;
	top: 18px;
	left: 0;
	width: 30px;
	margin: 5px;
	height: 2px;
	background: #000;
	z-index: 19;
}

.menu input:checked ~ .icon:after {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

.menu input:checked ~ .icon:before {
	background: #fff;
}

/*Infos for this page*/
.infos {
	position: absolute;
	top: 30px;
	left: 200px; 
	height: 350px;
	width: 600px;
	z-index: -1;
	border-radius: 10px;
	border: 1px solid #ccc;
	overflow: hidden;
}
.infos h2 {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	background: #ccc;
	color: #fff;
}
.infos ul {
	padding: 20px;
}
.infos ul li {
	padding: 20px 0;
	font-size: 20px;
	border-bottom: 1px dotted #ccc;
}